<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header}}
  <main>
    <h1>Welcome to Friend Zone</h1>
    <div class="posts">
      {{#each posts}}
        {{> post}}
      {{/each}}
    </div>
  </main>
  {{> footer}}
</body>
</html>
