<div class="container mt-5">
  <h1 class="mb-4 text-center">Marketplace</h1>
  <div class="row">
    {{#each items}}
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.content}}</h5>
            {{#if this.image}}
              <img
                src="/uploads/{{this.image}}"
                class="card-img-top"
                alt="Item image"
              />
            {{/if}}
            <p class="card-text">Price: ${{this.price}}</p>
            <p class="card-text">Posted by: {{this.User.username}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>