    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Marketplace</h1>
          <p class="lead text-body-secondary">
            Friend Zone's marketplace makes it easier than ever to buy and sell
            goods locally.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2">List an item</a>
          </p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {{#each items}}
          <div class="col">
            <div class="card shadow-sm">
            {{#if this.image}}
              <img
                src="/uploads/{{this.image}}"
                class="card-img-top"
                alt="Item image"
              />
              {{else}}
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="30%" y="50%" fill="#eceeef" dy=".3em">
                  No image available
                </text>
              </svg>
              {{/if}}
              <div class="card-body">
                <p class="card-text">{{this.content}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Email Seller
                    </button>
                  </div>
                  <small class="text-body-secondary">${{this.price}}</small>
                </div>
              </div>
            </div>
             {{/each}}
          </div>
        </div>
    </div>