<div class="container mt-5">
  <h1 class="mb-4 text-center">Marketplace</h1>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <form
            id="marketplaceForm"
            method="POST"
            action="/api/marketplace"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="content">Item Description:</label>
              <textarea
                id="content"
                name="content"
                class="form-control"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input
                type="number"
                id="price"
                name="price"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="image">Image:</label>
              <input
                type="file"
                id="image"
                name="image"
                class="form-control-file"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Post Item</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{#each items}}
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.content}}</h5>
            {{#if this.image}}
              <img
                src="/uploads/{{this.image}}"
                class="card-img-top"
                alt="Item image"
              />
            {{/if}}
            <p class="card-text">Price: ${{this.price}}</p>
            <p class="card-text">Posted by: {{this.User.username}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>