<h1>{{user.username}}'s Profile</h1>
<p>Email: {{user.email}}</p>
<div class="row">
  <h2 class="col-12">Your Posts</h2>
  {{#each user.posts}}
    <div class="col-md-6 mb-4">
      {{> post}}
    </div>
  {{/each}}
</div>
